#v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
#set-height {
    display: block;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}